<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.extension.mybatis.edge.mapper.ICommonQuickInputMapper">
    <resultMap type="CommonQuickInput" id="CommonQuickInputResult">
        <result property="id" column="id"/>
        <result property="category" column="category"/>
        <result property="keyword" column="keyword"/>
        <result property="content" column="content"/>
        <result property="public_" column="public"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectAll">
        select *
        from `common_quick_input`
        where 1 = 1
    </sql>

    <select id="list" parameterType="CommonQuickInput"
            resultMap="CommonQuickInputResult">
        <include refid="selectAll"/>
        <if test="category != null and category != ''">
            AND `category` = #{category}
        </if>
        <if test="keyword != null and keyword != 0">
            AND `keyword` = #{keyword}
        </if>
        <if test="content != null and content != ''">
            AND `content` like '%#{content}%'
        </if>
    </select>

    <select id="getById" parameterType="String" resultMap="CommonQuickInputResult">
        <include refid="selectAll"/>
        AND `id` = #{id}
    </select>

    <insert id="insert" parameterType="CommonQuickInput">
        insert into `common_quick_input`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `id`,
            <if test="category != null">`category`,</if>
            <if test="keyword != null">`keyword`,</if>
            <if test="content != null">`content`,</if>
            <if test="public_ != null">`public`,</if>
            <if test="createBy != null">`create_by`,</if>
            <if test="createTime != null">`create_time`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{id},
            <if test="category != null">#{category},</if>
            <if test="keyword != null">#{keyword},</if>
            <if test="content != null">#{content},</if>
            <if test="public_ != null">#{public_},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="CommonQuickInput">
        update `common_quick_input`
        <trim prefix="SET" suffixOverrides=",">
            <if test="category != null">`category`=#{category},</if>
            <if test="keyword != null">`keyword`=#{keyword},</if>
            <if test="content != null">`content`=#{content},</if>
            <if test="public_ != null">`public`=#{public_},</if>
            <if test="createBy != null">`create_by`=#{createBy},</if>
            <if test="createTime != null">`create_time`=#{createTime},</if>
        </trim>
        where `id` = #{id}
    </update>

    <delete id="deleteById" parameterType="String">
        delete
        from `common_quick_input`
        where `id` = #{id}
    </delete>

    <delete id="deleteByIds" parameterType="String">
        delete from `common_quick_input` where `id` in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
