<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.extension.mybatis.edge.mapper.ITestGeneralEntityMapper">
    <resultMap type="TestGeneralEntity"
               id="TestGeneralEntityResult">
        <result property="id"
                column="id"/>
        <result property="string"
                column="string"/>
        <result property="short_"
                column="short"/>
        <result property="integer"
                column="integer"/>
        <result property="long_"
                column="long"/>
        <result property="float_"
                column="float"/>
        <result property="double_"
                column="double"/>
        <result property="decimal"
                column="decimal"/>
        <result property="boolean_"
                column="boolean"/>
        <result property="date"
                column="date"/>
        <result property="time"
                column="time"/>
        <result property="datetime"
                column="datetime"/>
    </resultMap>

    <sql id="tableName">
        <if test="_databaseId == 'mysql' or _databaseId == 'mariadb'">
            `test_general_entity`
        </if>
        <if test="_databaseId == 'sqlserver'">
            [TestGeneralEntity]
        </if>
        <if test="_databaseId == 'dm' or _databaseId == 'oracle'">
            "TEST_GENERAL_ENTITY"
        </if>
        <if test="_databaseId == 'postgresql'">
            "TestGeneralEntity"
        </if>
    </sql>

    <sql id="selectAll">
        select *
        from
        <include refid="tableName"/>
        where 1 = 1
    </sql>

    <select id="list"
            parameterType="TestGeneralEntity"
            resultMap="TestGeneralEntityResult">
        <include refid="selectAll"/>
        <if test="string != null and string != ''">
            AND
            <if test="_databaseId == 'mysql' or _databaseId == 'mariadb'">
                `string`
            </if>
            <if test="_databaseId == 'sqlserver'">
                [String]
            </if>
            <if test="_databaseId == 'dm' or _databaseId == 'oracle'">
                "STRING"
            </if>
            <if test="_databaseId == 'postgresql'">
                "String"
            </if>
            like '%#{string}%'
        </if>
        <if test="integer != null and integer != 0">
            AND
            <if test="_databaseId == 'mysql' or _databaseId == 'mariadb'">
                `integer`
            </if>
            <if test="_databaseId == 'sqlserver'">
                [Integer]
            </if>
            <if test="_databaseId == 'dm' or _databaseId == 'oracle'">
                "INTEGER"
            </if>
            <if test="_databaseId == 'postgresql'">
                "Integer"
            </if>
            = #{integer}
        </if>
        <if test="long_ != null and long_ != 0">
            AND
            <if test="_databaseId == 'mysql' or _databaseId == 'mariadb'">
                `long`
            </if>
            <if test="_databaseId == 'sqlserver'">
                [Long]
            </if>
            <if test="_databaseId == 'dm' or _databaseId == 'oracle'">
                "LONG"
            </if>
            <if test="_databaseId == 'postgresql'">
                "Long"
            </if>
            = #{long_}
        </if>
    </select>

    <select id="getById"
            parameterType="String"
            resultMap="TestGeneralEntityResult">
        <include refid="selectAll"/>
        <if test="_databaseId == 'mysql' or _databaseId == 'mariadb'">
            AND `id` = #{id}
        </if>
        <if test="_databaseId == 'sqlserver'">
            AND [Id] = #{id}
        </if>
        <if test="_databaseId == 'dm' or _databaseId == 'oracle'">
            AND "ID" = #{id}
        </if>
        <if test="_databaseId == 'postgresql'">
            AND "Id" = #{id}
        </if>
    </select>

    <insert id="insert"
            parameterType="TestGeneralEntity">
        insert into
        <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="_databaseId == 'mysql' or _databaseId == 'mariadb'">
                `id`,
                <if test="string != null">`string`,</if>
                <if test="short_ != null">`short`,</if>
                <if test="integer != null">`integer`,</if>
                <if test="long_ != null">`long`,</if>
                <if test="float_ != null">`float`,</if>
                <if test="double_ != null">`double`,</if>
                <if test="decimal != null">`decimal`,</if>
                <if test="boolean_ != null">`boolean`,</if>
                <if test="date != null">`date`,</if>
                <if test="time != null">`time`,</if>
                <if test="datetime != null">`datetime`,</if>
            </if>
            <if test="_databaseId == 'sqlserver'">
                [Id],
                <if test="string != null">[String],</if>
                <if test="short_ != null">[Short],</if>
                <if test="integer != null">[Integer],</if>
                <if test="long_ != null">[Long],</if>
                <if test="float_ != null">[Float],</if>
                <if test="double_ != null">[Double],</if>
                <if test="decimal != null">[Decimal],</if>
                <if test="boolean_ != null">[Boolean],</if>
                <if test="date != null">[Date],</if>
                <if test="time != null">[Time],</if>
                <if test="datetime != null">[Datetime],</if>
            </if>
            <if test="_databaseId == 'dm' or _databaseId == 'oracle'">
                "ID",
                <if test="string != null">"STRING",</if>
                <if test="short_ != null">"SHORT",</if>
                <if test="integer != null">"INTEGER",</if>
                <if test="long_ != null">"LONG",</if>
                <if test="float_ != null">"FLOAT",</if>
                <if test="double_ != null">"DOUBLE",</if>
                <if test="decimal != null">"DECIMAL",</if>
                <if test="boolean_ != null">"BOOLEAN",</if>
                <if test="date != null">"DATE",</if>
                <if test="time != null">"TIME",</if>
                <if test="datetime != null">"DATETIME",</if>
            </if>
            <if test="_databaseId == 'postgresql'">
                "Id",
                <if test="string != null">"String",</if>
                <if test="short_ != null">"Short",</if>
                <if test="integer != null">"Integer",</if>
                <if test="long_ != null">"Long",</if>
                <if test="float_ != null">"Float",</if>
                <if test="double_ != null">"Double",</if>
                <if test="decimal != null">"Decimal",</if>
                <if test="boolean_ != null">"Boolean",</if>
                <if test="date != null">"Date",</if>
                <if test="time != null">"Time",</if>
                <if test="datetime != null">"Datetime",</if>
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{id},
            <if test="string != null">#{string},</if>
            <if test="short_ != null">#{short_},</if>
            <if test="integer != null">#{integer},</if>
            <if test="long_ != null">#{long_},</if>
            <if test="float_ != null">#{float_},</if>
            <if test="double_ != null">#{double_},</if>
            <if test="decimal != null">#{decimal},</if>
            <if test="boolean_ != null">#{boolean_},</if>
            <if test="date != null">#{date},</if>
            <if test="time != null">#{time},</if>
            <if test="datetime != null">#{datetime},</if>
        </trim>
    </insert>

    <update id="update"
            parameterType="TestGeneralEntity">
        update
        <include refid="tableName"/>
        <if test="_databaseId == 'mysql' or _databaseId == 'mariadb'">
            <trim prefix="SET" suffixOverrides=",">
                <if test="string != null">`string`=#{string},</if>
                <if test="short_ != null">`short`=#{short_},</if>
                <if test="integer != null">`integer`=#{integer},</if>
                <if test="long_ != null">`long`=#{long_},</if>
                <if test="float_ != null">`float`=#{float_},</if>
                <if test="double_ != null">`double`=#{double_},</if>
                <if test="decimal != null">`decimal`=#{decimal},</if>
                <if test="boolean_ != null">`boolean`=#{boolean_},</if>
                <if test="date != null">`date`=#{date},</if>
                <if test="time != null">`time`=#{time},</if>
                <if test="datetime != null">`datetime`=#{datetime},</if>
            </trim>
            where `id` = #{id}
        </if>
        <if test="_databaseId == 'sqlserver'">
            <trim prefix="SET" suffixOverrides=",">
                <if test="string != null">[String]=#{string},</if>
                <if test="short_ != null">[Short]=#{short_},</if>
                <if test="integer != null">[Integer]=#{integer},</if>
                <if test="long_ != null">[Long]=#{long_},</if>
                <if test="float_ != null">[Float]=#{float_},</if>
                <if test="double_ != null">[Double]=#{double_},</if>
                <if test="decimal != null">[Decimal]=#{decimal},</if>
                <if test="boolean_ != null">[Boolean]=#{boolean_},</if>
                <if test="date != null">[Date]=#{date},</if>
                <if test="time != null">[Time]=#{time},</if>
                <if test="datetime != null">[Datetime]=#{datetime},</if>
            </trim>
            where [Id] = #{id}
        </if>
        <if test="_databaseId == 'dm' or _databaseId == 'oracle'">
            <trim prefix="SET" suffixOverrides=",">
                <if test="string != null">"STRING"=#{string},</if>
                <if test="short_ != null">"SHORT"=#{short_},</if>
                <if test="integer != null">"INTEGER"=#{integer},</if>
                <if test="long_ != null">"LONG"=#{long_},</if>
                <if test="float_ != null">"FLOAT"=#{float_},</if>
                <if test="double_ != null">"DOUBLE"=#{double_},</if>
                <if test="decimal != null">"DECIMAL"=#{decimal},</if>
                <if test="boolean_ != null">"BOOLEAN"=#{boolean_},</if>
                <if test="date != null">"DATE"=#{date},</if>
                <if test="time != null">"TIME"=#{time},</if>
                <if test="datetime != null">"DATETIME"=#{datetime},</if>
            </trim>
            where "ID" = #{id}
        </if>
        <if test="_databaseId == 'postgresql'">
            <trim prefix="SET" suffixOverrides=",">
                <if test="string != null">"String"=#{string},</if>
                <if test="short_ != null">"Short"=#{short_},</if>
                <if test="integer != null">"Integer"=#{integer},</if>
                <if test="long_ != null">"Long"=#{long_},</if>
                <if test="float_ != null">"Float"=#{float_},</if>
                <if test="double_ != null">"Double"=#{double_},</if>
                <if test="decimal != null">"Decimal"=#{decimal},</if>
                <if test="boolean_ != null">"Boolean"=#{boolean_},</if>
                <if test="date != null">"Date"=#{date},</if>
                <if test="time != null">"Time"=#{time},</if>
                <if test="datetime != null">"Datetime"=#{datetime},</if>
            </trim>
            where "Id" = #{id}
        </if>
    </update>

    <delete id="deleteById" parameterType="String">
        delete
        from
        <include refid="tableName"/>
        where
        <if test="_databaseId == 'mysql' or _databaseId == 'mariadb'">
            `id` = #{id}
        </if>
        <if test="_databaseId == 'sqlserver'">
            [Id] = #{id}
        </if>
        <if test="_databaseId == 'dm' or _databaseId == 'oracle'">
            "ID" = #{id}
        </if>
        <if test="_databaseId == 'postgresql'">
            "Id" = #{id}
        </if>
    </delete>

    <delete id="deleteByIds" parameterType="String">
        delete
        from
        <include refid="tableName"/>
        where
        <if test="_databaseId == 'mysql' or _databaseId == 'mariadb'">
            `id`
        </if>
        <if test="_databaseId == 'sqlserver'">
            [Id]
        </if>
        <if test="_databaseId == 'dm' or _databaseId == 'oracle'">
            "ID"
        </if>
        <if test="_databaseId == 'postgresql'">
            "Id"
        </if>
        in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
