<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.extension.mybatis.edge.mapper.ITestBlobEntityMapper">
    <resultMap type="TestBlobEntity"
               id="TestBlobEntityResult">
        <result property="id"
                column="id"/>
        <result property="bytes"
                column="bytes"/>
    </resultMap>

    <sql id="tableName">
        <if test="_databaseId == 'mysql' or _databaseId == 'mariadb'">
            `test_blob_entity`
        </if>
        <if test="_databaseId == 'sqlserver'">
            [TestBlobEntity]
        </if>
        <if test="_databaseId == 'dm' or _databaseId == 'oracle'">
            "TEST_BLOB_ENTITY"
        </if>
        <if test="_databaseId == 'postgresql'">
            "TestBlobEntity"
        </if>
    </sql>

    <sql id="selectAll">
        select *
        from
        <include refid="tableName"/>
        where 1 = 1
    </sql>

    <insert id="insert"
            parameterType="TestBlobEntity"
            useGeneratedKeys="true">
        insert into
        <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="_databaseId == 'mysql' or _databaseId == 'mariadb'">
                `id`,
                <if test="bytes != null">`bytes`,</if>
            </if>
            <if test="_databaseId == 'sqlserver'">
                [Id],
                <if test="bytes != null">[Bytes],</if>
            </if>
            <if test="_databaseId == 'dm' or _databaseId == 'oracle'">
                "ID",
                <if test="bytes != null">"BYTES",</if>
            </if>
            <if test="_databaseId == 'postgresql'">
                "Id",
                <if test="bytes != null">"Bytes",</if>
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{id},
            <if test="bytes != null">#{bytes,jdbcType=BLOB},</if>
        </trim>
    </insert>

    <select id="getById"
            parameterType="String"
            resultMap="TestBlobEntityResult">
        <include refid="selectAll"/>
        <if test="_databaseId == 'mysql' or _databaseId == 'mariadb'">
            AND `id` = #{id}
        </if>
        <if test="_databaseId == 'sqlserver'">
            AND [Id] = #{id}
        </if>
        <if test="_databaseId == 'dm' or _databaseId == 'oracle'">
            AND "ID" = #{id}
        </if>
        <if test="_databaseId == 'postgresql'">
            AND "Id" = #{id}
        </if>
    </select>
</mapper>
